<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.runtime.remoting>
    <application name="RemoteLog">
      <service>
        <wellknown type="RemotingLog.RemotingLog,RemotingLog"
        objectUri="RemotingLog.RemotingLog"
        mode="Singleton" />
      </service>
      <channels>
        <channel ref="tcp" port="8888"/>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
