<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="mongodbConn" connectionString="mongodb://skj009:jbinfo2019@192.168.137.105:27017/admin"/>-->
  <add name="mongodbConn" connectionString="mongodb://study:study@localhost:27017/studydb"/>
  </connectionStrings>
</configuration>