<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <root>
    <!--日志事件等级:ALL DEBUG INFO WARN ERROR FATAL OFF-->
    <level value="INFO" />
    <appender-ref ref="RemotingAppender" />
  </root>
  <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
    <!--<sink value="tcp://localhost:8888/RemotingLogCon" />-->
    <!--<sink value="tcp://10.138.227.33:8888/RemotingLogCon" />-->
    <!--<sink value="tcp://localhost:8888/LoggingSink" />-->
    <!--<sink value="tcp://10.138.227.137:8888/LoggingSink" />-->

    <!--<sink name="r_channel" value="tcp://localhost:8888/TestLogger.rem" />-->
    <sink value="tcp://localhost:8888/LoggingSink.Access" />
    <lossy value="false" />
    <bufferSize value="0" />
    <onlyFixPartialEventData value="true" />
  </appender>
</log4net>