<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <root>
    <!--日志事件等级:ALL DEBUG INFO WARN ERROR FATAL OFF-->
    <level value="INFO" />
    <appender-ref ref="RemotingAppender" />
  </root>
  <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
    <sink value="tcp://localhost:8888/RemotingLogCon" />
    <lossy value="false" />
    <bufferSize value="0" />
    <onlyFixPartialEventData value="true" />
  </appender>

</log4net>