@helper ShowMessage(string[] strArr)
{
    <ol>
        @foreach (var item in strArr)
        {
            <li>@item</li>
        }
    </ol>
}
@helper sum(int a, int b)
{
    var result = a + b;
    @result;
}
